BOT_TOKEN=8984540185:AAFLOHYbKTP1T6yzbGsp8eoKvC8oDjB7oBE
PLANTNET_API_KEY=2b10bGwHPah9n0C1ZePtKuVERO
GROQ_API_KEY=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
BACKEND_URL=http://localhost:8000
